{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - La boutique{% endblock %}

{% block content %}

    <h1>Modifier mon mot de passe</h1>
<br/>
    <a href='{{ path('app_account')}}' class=" btn btn-secondary">Retourner à mon compte</a>
    <hr>
    {% if notification %} 
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    {{ form(form)}}
    <hr>
{% endblock %}