{% extends 'base-backend.html.twig' %}

{% block title %}New Statut{% endblock %}

{% block body %}
    <a href="{{ path('app_statut_index') }}"  class="btn btn-dark">back to list</a>
    <h1>Create new Statut</h1>

    {{ include('statut/_form.html.twig') }}


{% endblock %}
